# The Reasonable EditorConfig
# Written in 2021 by Nikita Karamov <nick@karamoff.dev>
#
# To the extent possible under law, the author(s) have dedicated all copyright
# and related and neighboring rights to this software to the public domain
# worldwide. This software is distributed without any warranty.
# You should have received a copy of the CC0 Public Domain Dedication along
# with this software. If not, see
# <http://creativecommons.org/publicdomain/zero/1.0/>.

# See https://editorconfig.org/ for config reference

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true

# Go
# https://go.dev/
[*.go]
indent_style = tab

# Makefile
# https://www.gnu.org/software/make/manual/html_node/Makefiles.html
[{M,m}akefile]
indent_style = tab

# Markdown
# https://daringfireball.net/projects/markdown/
[*.{md,markdown,mdown,mdwn,mdx,mkd,mkdn,mkdown}]
trim_trailing_whitespace = false
